body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    display: flex;
}

.container {
    max-width: 1200px;
}

button {
    text-transform: uppercase;
}

.bg-gradient {
    background: darkgrey;
}

.bg-purple {
    background-color: #735beb;
}

.btn-outline-purple {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: #735beb
}

.btn-outline-purple:hover {
    background: linear-gradient(to bottom, #7f53ac, #647dee);
    color: #FFFFFF;
    transition-delay: 0.05s;
}

.btn-outline-purple:focus,
.btn-outline-purple.focus {
    box-shadow: 0 0 0 .2rem #735beb
}

.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
    color: #735beb;
    background-color: transparent
}

@media (max-width: 576px) {
    .container {
        width: -moz-min-content;
        font-size: 0.9em;
    }

    .header {
        width: max-content;
    }

    .btn {
        font-size: 0.8em;
    }

    .button {
        font-size: 0.8em;
    }

    .button-span {
        font-size: 0.8em;
    }
}