body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
    max-width: 1200px;
}

button {
    text-transform: uppercase;
}

.btn-outline-purple {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: #735beb
}

.btn-outline-purple:hover {
    background: linear-gradient(to bottom, #7f53ac, #647dee);
    color: #FFFFFF;
    transition-delay: 0.05s;
}

.btn-outline-purple:focus,
.btn-outline-purple.focus {
    box-shadow: 0 0 0 .2rem #735beb
}

.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
    color: #735beb;
    background-color: transparent
}

.bg-gradient {
    background: darkgrey;
}

.bg-purple {
    background-color: #735beb;
}

.border-gradient {
    border-color: #735beb;
}

.list-group-item-action:active,
.active {
    border: none;
    background: linear-gradient(to bottom, #7f53ac, #647dee);
}

.pagination_rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 25px 0;
}

.pagination_rounded ul {
    list-style: none
}

.pagination_rounded ul li {
    float: left;
    margin-left: 20px;
}

.pagination_rounded ul li a:hover {
    background: #735beb;
    color: #FFFFFF;
    border: 1px solid #735beb
}

a {
    text-decoration: none
}

.pagination_rounded .prev {
    border-radius: 20px;
    width: 120px;
    height: 35px;
    line-height: 33px
}

.pagination_rounded .prev-disabled {
    border-radius: 20px;
    width: 120px;
    height: 35px;
    line-height: 33px;
    color: #808080;
}

.pagination_rounded ul li a {
    float: left;
    color: #735beb;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid #e0e0e0
}

.pagination_rounded .next {
    border-radius: 20px;
    width: 120px;
    height: 35px;
    line-height: 33px
}

.pagination_rounded .next-disabled {
    border-radius: 20px;
    width: 120px;
    height: 35px;
    line-height: 33px;
    color: #808080;
}