.payment-form form {
    border-top: 3px solid #735beb;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    max-width: 600px;
    margin: auto;
}

.payment-form .title {
    font-size: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.payment-form .products .item-name {
    font-weight: 600;
}

.payment-form .products .item-description {
    font-size: 0.8em;
    opacity: 0.6;
}

.payment-form .products .item p {
    margin-bottom: 0.2em;
}

.payment-form .products .price {
    float: right;
    font-weight: 600;
}

.payment-form .products .total {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 15px;
    font-weight: 600;
}

.payment-form .input-details label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #79818a;
    text-transform: uppercase;
}

@media (min-width: 400px) {
    .payment-form .title {
        font-size: 1.2em;
    }

    .payment-form .products {
        padding: 40px;
    }

    .payment-form .products .item-name {
        font-size: 1em;
    }

    .payment-form .products .price {
        font-size: 1em;
    }

    .payment-form .input-details {
        padding: 40px 40px 30px;
    }

    .payment-form .input-details button {
        margin-top: 2em;
    }
}