body {
    background: linear-gradient(to right, #7f53ac, #647dee);
}

.card {
    border: none;
    max-width: 450px;
    border-radius: 20px;
    margin: 150px;
    padding: 20px;
}

.heading {
    font-size: 14px;
    font-weight: 600
}

img {
    transform: translate(100px, -10px)
}

.text-warning {
    font-size: 12px;
    font-weight: 500;
    color: #f7b42c
}

#cno {
    transform: translateY(-10px)
}

input {
    font-weight: bold;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid lightgrey;
}

.form-group input:focus {
    border: 0;
    outline: 0
}

.btn {
    background: #f7b42c;
    border: none;
    border-radius: 30px
}

.btn:focus {
    box-shadow: none
}